{{#>partials/coverPage title="Home" section="Home"}}
<h1 class="cover-heading">Daisley-Harrison Cybersecurity<br /> Web Application Samples</h1>
<p class="lead">This secure web application is based on a set of open source java security libraries designed to
  simplify the development of secure web applications using the latest techniques developed by the Cyber Security Team
</p>
<p class="lead">
  <a href="/c2id/home/features" class="btn btn-lg btn-secondary">Learn More</a>
  {{#unless authorized}}
  <a id="btnHomeShowLogin" href="#" class="btn btn-lg btn-secondary">Log in</a>
  {{/unless}}
</p>
{{/partials/coverPage}}