<html>

<head>
    <title>c2id - login</title>
    <link href="/static/css/basic.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/basic.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div>logging {{preferredUsername}} in...</div>
    <form id="redirectForm" method="GET" action="{{initialUri}}">
    </form>
</body>

</html>