<html>
    <head>
        <title>error</title>
    </head>
    <body>
        <h1>error</h1>
        <div>{{message}}</div>
        <p>A {{message}} error occurred.  Press <a href="/home">here</a> to return to a safe page.</p>
        <p>{{error_description}}</p>
    </body>
</html>
