{{#>partials/coverPage title="Dump" section="Dump"}}
<h1 class="cover-heading">C2ID Basic Role</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {{#each this}}
            {{@key}}: {{this}}<br />
            {{/each}}
        </div>
    </div>
</div>
{{/partials/coverPage}}