{{#>partials/coverPage title="Basic" section="Basic"}}
        <h1 class="cover-heading">C2ID Basic Role</h1>
        <p class="lead">At this point you have logged in with the C2ID "Basic" role</p>
{{/partials/coverPage}}