{{#>partials/coverPage title="Contacts" section="Contacts"}}
  <h1 class="cover-heading">Samples Contacts</h1>
  <p class="lead">There are no stinking contacts</p>
  <p class="lead">(Just kidding!)</p>
{{/partials/coverPage}}