{{#>partials/coverPage title="Features" section="Features"}}
        <h1 class="cover-heading">Samples Features</h1>
        <p class="lead">There are no stinking features</p>
        <p class="lead">(Just kidding!)</p>
{{/partials/coverPage}}


