<!doctype html>
<html lang="en">
  {{>partials/head title=title}} 

  <body class="detail-body {{#if authorized}}body-authorized{{else}}body-anonymous{{/if}}">

    <div class="detail-container d-flex h-100 p-3 mx-auto flex-column">

     {{>partials/header section=section}}

      <main role="main" class="inner cover">
        {{> @partial-block}}
      </main>

    {{>partials/footer script=script}}

    </div>
  </body>
</html>