{{#if session}}
{{else}}
    {{>partials/loginWizard}}
{{/if}}
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Demo for Cyber Security</a>, by <a href="http://blog.daisley-harrison.com">agd-h</a>.</p>
    </div>
</footer>
{{>partials/scripts script=script}}
