<div class="col-sm">
    <div class="row mt-1">
        <div class="col-sm">
            <p class="em">Forgot your account?</p>
            <p>Enter your email address below and press the "Send Password Reset" below and a password reset message will be send</p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-sm input-group">
            <div class="input-group-prepend">
                <span class="input-group-text login-label">Email</span>
            </div>
            <input class="form-control" type="email" name="email" id="txtForgotEmail" />
        </div>
    </div>
</div>