<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Samples - {{title}}</title>

    <link href="/static/css/basic.css" rel="stylesheet" />
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/loginWizard.css" rel="stylesheet">
    {{#if style}}
    <link href="{{style}}" rel="stylesheet" />
    {{/if}}
</head>