<div class="col-sm">
    <div class="row mt-1">
        <div class="col-sm">
            <p>Other login options?</p>
            <p>We support several authentication providers, choose your favorite below:</p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-sm">
            <a class="btn btnLoginUsingIssuer" data-issuer="microsoft.com">Login using microsoft.com</a>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm">
            <a class="btn btnLoginUsingIssuer" data-issuer="google.com">Login using google.com</a>
        </div>
    </div>
</div>