body {
    position: relative;
    overflow: hidden;
}

body:before {
    content: "";
    position: absoluted;
    width: 200%;
    height: 200%;
    -top: -75%;
    -left: -10%;
    z-index: -1;
    background: url(/static/images/doors.jpg) 0 0 repeat;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}